<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Cultura - Painel ADM</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> <!--icons importados do fontsawesome talvez não pegue ?-->
    <link rel="stylesheet" th:href="@{/css/cadastro-funcionario.css}">
</head>
<body>
    <input type="checkbox" id="gatilho-menu-lateral" style="display: none;">

    <label for="gatilho-menu-lateral" class="pelicula-escura"></label>

    <aside class="menu-esquerda">
        <div class="menu-esquerda-topo">
            <h2>MENU</h2>
            <label for="gatilho-menu-lateral" class="botao-fechar-menu"><i class="fa-solid fa-xmark"></i></label>
        </div>

    <nav class="links-menu-lateral">
    <div class="grupo-menu-lateral">
        <a href="/homescreen" class="subitem-menu"><i class="fa-solid fa-house"></i>Página inicial</a>
    </div>

    <div class="grupo-menu-lateral">
        <span class="categoria-titulo">Acervo</span>
        <a href="/visualizar-acervo" class="subitem-menu"><i class="fa-solid fa-book"></i> Visualizar Acervo</a>
        <a href="#" class="subitem-menu"><i class="fa-regular fa-square-plus"></i> Cadastrar novo livro </a>
        <a href="#" class="subitem-menu"><i class="fa-regular fa-square-plus"></i> Cadastrar novo exemplar </a>
    </div>

    <div class="grupo-menu-lateral">
        <span class="categoria-titulo">Usuários</span>
        <a href="#" class="subitem-menu"><i class="fa-solid fa-users"></i> Visualizar clientes</a>
        <a href="#" class="subitem-menu"><i class="fa-regular fa-square-plus"></i> Cadastrar novo cliente</a>
    </div>

    <div class="grupo-menu-lateral">
        <span class="categoria-titulo">Administração</span>
        <a href="#" class="subitem-menu"><i class="fa-solid fa-users"></i> Visualizar funcionários</a>
        <a href="/cadastro-funcionario" class="subitem-menu"><i class="fa-regular fa-square-plus"></i> Cadastrar novo funcionário</a>
    </div>

        <div class="grupo-menu-lateral">
        <span class="categoria-titulo">Configurações</span>
        <a href="/redefinir-senha" class="subitem-menu"><i class="fa-solid fa-gear"></i> Alterar minha senha</a>
        <a href="#" class="subitem-menu"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair </a>
    </div>
</nav>
    </aside>

    <header>
        <div class="navbar">
            <div class="nav-left">
                <label for="gatilho-menu-lateral" class="nav-left" style="cursor: pointer; display: flex; align-items: center; gap: 12px;">
                    <i class="fa-solid fa-bars"></i>
                    <span style="font-size: 18px; user-select: none;">MENU</span>
                </label>
            </div>

            <div class="brand-title">
                <img th:src="@{/images/logo-horizontal.png}" width="230px">
            </div>

            <div class="perfil-container">
                <input type="checkbox" id="gatilho-menu" style="display: none;">
                <label for="gatilho-menu" class="perfil-funcionario">
                    <p style="font-size: 18px;">Jessica Alves</p>
                    <div class="avatar"><i class="fa-solid fa-user"></i></div>
                </label>
                <div class="menu-dropdown">
                    <a href="#"><i class="fa-regular fa-user"></i> Visualizar perfil</a>
                    <a href="#" class="opcao-sair"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="form-header">
            <h1>Cadastrar funcionário</h1>
            <p>Preencha os dados abaixo para registrar um novo funcionário:</p>
        </div>

        <form action="#" method="POST">
            
            <fieldset class="form-grid">
                <div class="input-group full-width">
                    <label for="nome">Nome completo:</label>
                    <input type="text" id="nome" name="nome" required autocomplete="name">
                </div>
                
                <div class="input-group">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00" required>
                </div>

                <div class="input-group">
                    <label for="matricula">Matrícula:</label>
                    <input type="text" id="matricula" name="matricula" required>
                </div>

                <div class="input-group">
                    <label for="data-nascimento">Data de nascimento:</label>
                    <input type="date" id="data-nascimento" name="data_nascimento" required>
                </div>
            </fieldset>

            <fieldset>
                <legend>Informações de contato</legend>
                <div class="form-grid">
                    <div class="input-group">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" name="email" placeholder="" required autocomplete="email">
                    </div>
                    <div class="input-group">
                        <label for="telefone">Telefone:</label>
                        <input type="tel" id="telefone" name="telefone" placeholder="(00) 00000-0000" required autocomplete="tel">
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Endereço</legend>
                
                <div class="address-group" style="margin-bottom: 20px;">
                    <div class="input-group">
                        <label for="cep">CEP:</label>
                        <input type="text" id="cep" name="cep" placeholder="00000-000" required>
                    </div>
                    <div class="input-group">
                        <label for="uf">UF:</label>
                        <select id="uf" name="uf" required>
                            <option value="" disabled selected>Selecione</option>
                            <option value="AC">AC</option><option value="AL">AL</option>
                            <option value="AP">AP</option><option value="AM">AM</option>
                            <option value="BA">BA</option><option value="CE">CE</option>
                            <option value="DF">DF</option><option value="ES">ES</option>
                            <option value="GO">GO</option><option value="MA">MA</option>
                            <option value="MT">MT</option><option value="MS">MS</option>
                            <option value="MG">MG</option><option value="PA">PA</option>
                            <option value="PB">PB</option><option value="PR">PR</option>
                            <option value="PE">PE</option><option value="PI">PI</option>
                            <option value="RJ">RJ</option><option value="RN">RN</option>
                            <option value="RS">RS</option><option value="RO">RO</option>
                            <option value="RR">RR</option><option value="SC">SC</option>
                            <option value="SP">SP</option><option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="municipio">Município:</label>
                        <input type="text" id="municipio" name="municipio" required>
                    </div>
                </div>

                <div class="form-grid">
                    <div class="input-group">
                        <label for="bairro">Bairro:</label>
                        <input type="text" id="bairro" name="bairro" required>
                    </div>
                    
                    <div class="number-group">
                        <div class="input-group">
                            <label for="endereco">Endereço (Rua/Av.):</label>
                            <input type="text" id="endereco" name="endereco" required>
                        </div>
                        <div class="input-group">
                            <label for="numero">Número:</label>
                            <input type="text" id="numero" name="numero" required>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="btn-container">
                <button type="submit" class="btn-submit">Cadastrar Funcionário</button>
            </div>

        </form>
    </main>

</body>
</html>