<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Biblioteca Cultura</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
        <div class="logo-panel">
            <img th:src="@{/images/logo.png}" width="350px">
        </div>

        <div class="form-panel">
            <div class="subtitle">Seja bem vindo, bibliotecário!</div>
            <h2 class="main-title">Acesse sua conta:</h2>

            <form onsubmit="event.preventDefault();">
                <div class="input-group">
                    <label for="matricula">Matrícula:</label>
                    <input type="text" id="matricula" placeholder="Digite sua matrícula...">
                </div>

                <div class="input-group">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" value="" placeholder="●●●●●●">
                </div>

                <a href="/esqueci-senha" class="forgot-password">Esqueci a minha senha</a>

                <div style="display: flex; justify-content: flex-end;">
                    <button type="submit" class="btn-submit">Entrar</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>