<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Funcionário</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> <!--icons importados do fontsawesome talvez não pegue ?-->
    <link rel="stylesheet" th:href="@{/css/perfil-cliente.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <input type="checkbox" id="gatilho-menu-lateral" style="display: none;">

    <label for="gatilho-menu-lateral" class="pelicula-escura"></label>

    <aside class="menu-esquerda">
        <div class="menu-esquerda-topo">
            <label for="gatilho-menu-lateral" class="botao-fechar-menu"><i class="fa-solid fa-xmark"></i></label>
        </div>

    <nav class="links-menu-lateral">
    <div class="grupo-menu-lateral">
        <a href="/homescreen" class="subitem-menu"><i class="fa-solid fa-house"></i>Página inicial</a>
    </div>

    <div class="grupo-menu-lateral">
        <span class="categoria-titulo">Fluxo diário</span>
        <a href="/realizar-emprestimo" class="subitem-menu"><i class="fa-solid fa-book-open"></i> Realizar empréstimo </a>
        <a href="#" class="subitem-menu"><i class="fa-solid fa-book-bookmark"></i> Registrar devolução </a>
    </div>

    <div class="grupo-menu-lateral">
        <span class="categoria-titulo">Acervo</span>
        <a href="/visualizar-acervo" class="subitem-menu"><i class="fa-solid fa-book"></i> Visualizar Acervo</a>
        <a href="#" class="subitem-menu"><i class="fa-regular fa-square-plus"></i> Cadastrar novo livro </a>
        <a href="#" class="subitem-menu"><i class="fa-regular fa-square-plus"></i> Cadastrar novo exemplar </a>
    </div>

    <div class="grupo-menu-lateral">
        <span class="categoria-titulo">Usuários</span>
        <a href="#" class="subitem-menu"><i class="fa-solid fa-users"></i> Visualizar clientes</a>
        <a href="#" class="subitem-menu"><i class="fa-regular fa-square-plus"></i> Cadastrar novo cliente</a>
    </div>

    <div class="grupo-menu-lateral">
        <span class="categoria-titulo">Administração</span>
        <a href="#" class="subitem-menu"><i class="fa-solid fa-users"></i> Visualizar funcionários</a>
        <a href="/cadastro-funcionario" class="subitem-menu"><i class="fa-regular fa-square-plus"></i> Cadastrar novo funcionário</a>
    </div>

        <div class="grupo-menu-lateral">
        <span class="categoria-titulo">Configurações</span>
        <a href="/redefinir-senha" class="subitem-menu"><i class="fa-solid fa-gear"></i> Alterar minha senha</a>
        <a href="#" class="subitem-menu"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair </a>
    </div>
</nav>
    </aside>

    <header>
        <div class="navbar">
            <div class="nav-left">
                <label for="gatilho-menu-lateral" class="nav-left" style="cursor: pointer; display: flex; align-items: center; gap: 12px;">
                    <i class="fa-solid fa-bars"></i>
                    <span style="font-size: 18px; user-select: none;">MENU</span>
                </label>
            </div>

            <div class="brand-title">
                <img th:src="@{/images/logo-horizontal.png}" width="230px">
            </div>

            <div class="perfil-container">
                <input type="checkbox" id="gatilho-menu" style="display: none;">
                <label for="gatilho-menu" class="perfil-funcionario">
                    <p style="font-size: 18px;">Jessica Alves</p>
                    <div class="avatar"><i class="fa-solid fa-user"></i></div>
                </label>
                <div class="menu-dropdown">
                    <a href="#"><i class="fa-regular fa-user"></i> Visualizar perfil</a>
                    <a href="#" class="opcao-sair"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a>
                </div>
            </div>
        </div>
    </header>

<main class="container">
        <h1>Perfil do cliente:</h1>

        <section class="cliente-perfil-resumo card">
            <div class="avatar-grande">
                </div>
            <div class="info-resumo">
                <p class="nome">João Silva</p>
                <p>CPF: ###.###.###-##</p>
                <p>Estudante</p>
            </div>
        </section>

        <section class="grid-secoes">
            <section class="dados-cliente section-column card">
                <h2>Dados:</h2>
                <p><span class="label">Turma:</span><br>3 ano EM</p>
                <p><span class="label">E-mail:</span><br>jessicaalves@email.com</p>
                <p><span class="label">Telefone:</span><br>(XX)12345678</p>
                <p><span class="label">Endereço:</span><br>Av. Lorem ipsum sit dolor, 100 Amet BR</p>
            </section>

            <section class="multas-cliente section-column card">
                <h2>Multas:</h2>
                <div class="multa-total">
                    TOTAL DE MULTA: <span class="valor-total">R$ 3,50</span>
                </div>
                <div class="multa-item">
                    <div class="barra-lateral multa-1"></div>
                    <p class="titulo-livro">A Odisseia</p>
                    <p class="valor">R$1,50</p>
                </div>
                <div class="multa-item">
                    <div class="barra-lateral multa-2"></div>
                    <p class="titulo-livro">Moreninha</p>
                    <p class="valor">R$2,00</p>
                </div>
                <button class="btn btn-limpar-multa">LIMPAR MULTA(S)</button>
            </section>
        </section>

        <section class="livros-emprestados">
            <h2>Livros emprestados:</h2>
            <div class="tabela-livros">
                <div class="cabecalho-tabela">
                    <div></div>
                    <div>Nome</div>
                    <div>Autor</div>
                    <div>Data de Empréstimo</div>
                    <div>Data de Devolução</div>
                    <div>Situação</div>
                </div>
                <label class="linha-tabela" for="livro1">
                    <div>
                        <input type="checkbox" id="livro1">
                    </div>
                    <div>A Odisseia</div>
                    <div>Homero</div>
                    <div>15/01/2026</div>
                    <div>22/01/2026</div>
                    <div><span class="status-multa">Com multa</span></div>
                </label>
            </div>
        </section>

        <footer class="controles-renovacao">
            <button class="btn btn-secundario">Renovar exemplar selecionado</button>
            <button class="btn btn-secundario">Renovar todos</button>
        </footer >

    </main>

</body>
</html>