<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Acervo</title>
    <link rel="stylesheet" th:href="@{/css/visualizar-acervo.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <input type="checkbox" id="gatilho-modal-sair" style="display: none;">
    <label for="gatilho-modal-sair" class="modal-overlay"></label>
    <div class="modal-confirmacao">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <p>Deseja realmente sair?</p>
        <div class="modal-botoes">
            <a href="/login" class="btn-confirmar">Sim, sair</a>
            <label for="gatilho-modal-sair" class="btn-cancelar">Voltar</label>
        </div>
    </div>

    <input type="checkbox" id="gatilho-menu-lateral" style="display: none;">

    <label for="gatilho-menu-lateral" class="pelicula-escura"></label>

    <aside class="menu-esquerda">
        <div class="menu-esquerda-topo">
            <h2>MENU</h2>
            <label for="gatilho-menu-lateral" class="botao-fechar-menu"><i class="fa-solid fa-xmark"></i></label>
        </div>

    <nav class="links-menu-lateral">
    <div class="grupo-menu-lateral">
        <a href="/homescreen" class="subitem-menu"><i class="fa-solid fa-house"></i>Página inicial</a>
    </div>

    <div class="grupo-menu-lateral">
        <span class="categoria-titulo">Fluxo diário</span>
        <a href="/realizar-emprestimo" class="subitem-menu"><i class="fa-solid fa-book-open"></i> Realizar empréstimo </a>
        <a href="#" class="subitem-menu"><i class="fa-solid fa-book-bookmark"></i> Registrar devolução </a>
    </div>

    <div class="grupo-menu-lateral">
        <span class="categoria-titulo">Acervo</span>
        <a href="/visualizar-acervo" class="subitem-menu"><i class="fa-solid fa-book"></i> Visualizar Acervo</a>
        <a href="#" class="subitem-menu"><i class="fa-regular fa-square-plus"></i> Cadastrar novo livro </a>
        <a href="#" class="subitem-menu"><i class="fa-regular fa-square-plus"></i> Cadastrar novo exemplar </a>
    </div>

    <div class="grupo-menu-lateral">
        <span class="categoria-titulo">Usuários</span>
        <a href="#" class="subitem-menu"><i class="fa-solid fa-users"></i> Visualizar clientes</a>
        <a href="#" class="subitem-menu"><i class="fa-regular fa-square-plus"></i> Cadastrar novo cliente</a>
    </div>

    <div class="grupo-menu-lateral">
        <span class="categoria-titulo">Administração</span>
        <a href="#" class="subitem-menu"><i class="fa-solid fa-users"></i> Visualizar funcionários</a>
        <a href="/cadastro-funcionario" class="subitem-menu"><i class="fa-regular fa-square-plus"></i> Cadastrar novo funcionário</a>
    </div>

        <div class="grupo-menu-lateral">
        <span class="categoria-titulo">Configurações</span>
        <a href="/redefinir-senha" class="subitem-menu"><i class="fa-solid fa-gear"></i> Alterar minha senha</a>
        <label for="gatilho-modal-sair" class="subitem-menu"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair </label>
    </div>
</nav>
    </aside>

    <header>
        <div class="navbar">
            <div class="nav-left">
                <label for="gatilho-menu-lateral" class="nav-left" style="cursor: pointer; display: flex; align-items: center; gap: 12px;">
                    <i class="fa-solid fa-bars"></i>
                    <span style="font-size: 18px; user-select: none;">MENU</span>
                </label>
            </div>

            <div class="brand-title">
                <img th:src="@{/images/logo-horizontal.png}" width="230px">
            </div>

            <div class="perfil-container">
                <input type="checkbox" id="gatilho-menu" style="display: none;">
                <label for="gatilho-menu" class="perfil-funcionario">
                    <p style="font-size: 18px;">Jessica Alves</p>
                    <div class="avatar"><i class="fa-solid fa-user"></i></div>
                </label>
                <div class="menu-dropdown">
                    <a href="#"><i class="fa-regular fa-user"></i> Visualizar perfil</a>
                    <label for="gatilho-modal-sair" class="opcao-sair"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</label>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
            <h1>Visualizar acervo</h1>
    <div class="container-busca">
            <div class="grupo-pesquisa">
                <input type="text" class="campo-pesquisa" placeholder="Digite para pesquisar...">
                <button class="btn-pesquisa" aria-label="Buscar">
                    <span class="material-icons lupa">search</span>
                </button>
            </div>

            <div class="grupo-filtro">
                <label class="legenda-filtro">Pesquisar por:</label>
                <div class="seletor-estilizado">
                    <select class="campo-selecao">
                        <option value="autor">Autor</option>
                        <option value="titulo">Título</option>
                        <option value="genero">Gênero</option>
                    </select>
                </div>
            </div>
        </div>

    <div class="container-tabela">
    <table class="tabela-livros">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Autor</th>
                <th>Ano</th>
                <th>Gênero</th>
                <th>Editora</th>
                <th>N° do exemplar</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>id-exemplar</td>
                <td class="titulo-livro">O Alquimista</td>
                <td>Paulo Coelho</td>
                <td>1988</td>
                <td>Ficção</td>
                <td>Editora Rocco</td>
                <td>01</td>
                <td><span class="status-badge status-disponivel">Disponível</span></td>
                <td>
                    <div class="botoes-acao">
                        <span class="icone-acao icone-editar"></span>
                        <span class="icone-acao icone-excluir"></span>
                    </div>
                </td>
            </tr>

            <tr>
                <td>id-exemplar</td>
                <td class="titulo-livro">O Alquimista</td>
                <td>Paulo Coelho</td>
                <td>1988</td>
                <td>Ficção</td>
                <td>Editora Rocco</td>
                <td>02</td>
                <td><span class="status-badge status-disponivel">Disponível</span></td>
                <td>
                    <div class="botoes-acao">
                        <span class="icone-acao icone-editar"></span>
                        <span class="icone-acao icone-excluir"></span>
                    </div>
                </td>
            </tr>


            <tr>
                <td>id-exemplar</td>
                <td class="titulo-livro">Dom Casmurro</td>
                <td>Machado de Assis</td>
                <td>1899</td>
                <td>Romance</td>
                <td>Livraria Garnier</td>
                <td>01</td>
                <td><span class="status-badge status-disponivel">Disponível</span></td>
                <td>
                    <div class="botoes-acao">
                        <span class="icone-acao icone-editar"></span>
                        <span class="icone-acao icone-excluir"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>id-exemplar</td>
                <td class="titulo-livro">Helena</td>
                <td>Machado de Assis</td>
                <td>1876</td>
                <td>Ficção</td>
                <td>Penguin-Companhia</td>
                <td>01</td>
                <td><span class="status-badge status-emprestado">Emprestado</span></td>
                <td>
                    <div class="botoes-acao">
                        <span class="icone-acao icone-editar"></span>
                        <span class="icone-acao icone-excluir"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>id-exemplar</td>
                <td class="titulo-livro">O Alquimista</td>
                <td>Paulo Coelho</td>
                <td>1988</td>
                <td>Ficção</td>
                <td>Editora Rocco</td>
                <td>03</td>
                <td><span class="status-badge status-emprestado">Emprestado</span></td>
                <td>
                    <div class="botoes-acao">
                        <span class="icone-acao icone-editar"></span>
                        <span class="icone-acao icone-excluir"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="rodape-tabela">
        <div>Exibindo 1-20 de 200 livros</div>
        <div class="paginacao">
            <span class="pag-item ativo">1</span>
            <span class="pag-item">2</span>
            <span class="pag-item">3</span>
            <span class="pag-item">...</span>
            <span class="pag-item pag-seta">&lt;</span>
            <span class="pag-item pag-seta">&gt;</span>
        </div>
    </div>
</div>
    </main>
</body>
</html>